
<div class="tabsbar">
    <a href="#" class="selCur">找工作</a><a href="/main/PartTimeJob" target="_blank">找兼职</a><a href="/main/FamousEnterprises" target="_blank">知名企业</a><a href="#" target="_blank">求职指南</a><a href="#" target="_blank">全职简历</a><a href="#" target="_blank" onclick="clickLog('from=zhaopin_index_tab_jianzhijl&amp;city=gz');">兼职简历</a>

</div>