
<!DOCTYPE html>
<!-- saved from url=(0027)http://www.jikexueyuan.com/ -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @Html.Partial("_PartialHead")
</head>
<body>
    <div id="loading">
        <div class="loading-length"></div>
    </div>
    <link rel="stylesheet" href="~/Content/css/jike-header.css?t=1481249576000">
    <div id="header">
        <div class="w-1000 relative">
            <a href="#" class="logo"><img src="http://e.jikexueyuan.com/headerandfooter/images/logo.png?t=1481249576000" height="40" width="109"></a>
            <!--nav-->
            <nav>
                <ul class="header-nav">
                    <li><a href="#" style="color: rgb(53, 181, 88);">首页</a></li>
                    <li>
                        职业学院<i class="arrow-icon"></i>
                        <div class="submenu vip-lesson">
                            <h3>前端学院</h3>
                            <a href="/zhiye/web"><i class="web-icon"></i>Web 前端工程师</a>
                            <a href="/zhiye/wechatapp"><i class="android-icon"></i>微信小程序工程师</a>
                            <h3>后端学院</h3>
                            <a href="/zhiye/python"><i class="python-icon"></i>Python Web工程师</a>
                            <a href="/zhiye/go"><i class="go-icon"></i>Go语言工程师</a>
                            <!--<a href="http://j.jikexueyuan.com/train/php?huodong=jiuye_php_in"><i class="php-icon"></i>PHP工程师</a>
                            <a href="http://j.jikexueyuan.com/train/javaweb?huodong=jiuye_javaweb_guide"><i class="java-icon"></i>Java Web工程师</a>-->
                            <h3>移动学院</h3>
                            <a href="/zhiye/ios"><i class="ios-icon"></i>iOS工程师</a>
                            <!--<a href="http://j.jikexueyuan.com/train/android?huodong=jiuye_android_in"><i class="android-icon"></i>Android 开发工程师</a>-->

                        </div>
                    </li>
                    <li>
                        会员课程<i class="arrow-icon"></i>
                        <div class="submenu vip-lesson">
                            <a href="/course/"><i class="kck-icon"></i>课程库<span>2500+</span></a>
                            <a href="http://ke.jikexueyuan.com/zhiye/"><i class="zyljt-icon"></i>职业路径图<span>9</span></a>
                            <a href="/path/"><i class="zstxt-icon"></i>知识体系图<span>24</span></a>
                            <a href="http://ke.jikexueyuan.com/xilie/"><i class="xlkc-icon"></i>系列课程<span>101</span></a>
                            <a href="/tag/"><i class="kcbq-icon"></i>课程标签<span>4000+</span></a>
                            <a href="/vip/"><i class="vip-icon"></i>VIP会员购买<span>30/月  260/年</span></a>

                        </div>
                    </li>
                    <li>
                        极客社区<i class="arrow-icon"></i>
                        <div class="submenu vip-lesson">
                            <a href="http://wenda.jikexueyuan.com"><i class="jswd-icon"></i>技术问答<span>20000+</span></a>
                            <a href="http://wiki.jikexueyuan.com"><i class="wiki-icon"></i>Wiki<span>351</span></a>
                            <a href="http://qun.jikexueyuan.com"><i class="sq-icon"></i>社群<span>7000+</span></a>
                            <a href="http://download.jikexueyuan.com"><i class="zygx-icon"></i>资源下载<span>3000+</span></a>
                        </div>
                    </li>
                </ul>
            </nav>
            <!--nav end-->
            <!--login-->
            <div class="icon-box">
                <span class="search-icon" id="search-btn"></span>
                <span class="app-icon loginlist relative" id="appicon">
                    <div class="submenu">
                        <i class="top-icon"></i>
                        <img src="http://e.jikexueyuan.com/headerandfooter/images/heade-rwm.png?t=1481249576000">
                    </div>
                </span>
                <span class="relative loginlist login-icon" id="loginlist"><dl class="submenu"><i class="top-icon"></i><dd><a href="http://passport.jikexueyuan.com/sso/reg_phone" class="reg-btn">注册</a>|<a href="http://passport.jikexueyuan.com/sso/login" class="login-btn">登录</a></dd><dd><a href="http://passport.jikexueyuan.com/sso/login"><i class="xxzx-icon"></i>学习中心</a></dd><dd><a href="http://passport.jikexueyuan.com/sso/login"><i class="grzy-icon"></i>个人主页</a></dd><dd><a href="http://passport.jikexueyuan.com/sso/login"><i class="xxtz-icon"></i>消息通知</a></dd><dd><a href="http://passport.jikexueyuan.com/sso/login"><i class="zhsz-icon"></i>账号设置</a></dd></dl></span>
                @{

                    var UserStatus = BLL.Fun.Current_Login_DB_User();
                }
                @*<div class="loginbox">
                        @{
                            if (UserStatus == null)
                            {
                                <div class="loginMain1">
                                    <span><a href="/nlcq/login" postion="index_index_header" rel="nofollow">登录</a></span><em>|</em>
                                </div>

                                <div class="loginMain2">
                                    <span><a href="/nlcq/reg" postion="index_index_header" rel="nofollow">注册</a></span>
                                </div>
                            }
                            else
                            {
                                <div class="loginMain3">
                                    <span>
                                        欢迎&nbsp;&nbsp;<a href="/member/cmember" style="color: #38a4e0"
                                                         postion="index_index_header" rel="nofollow">@(UserStatus.User_Name)</a>
                                                        &nbsp;&nbsp;<a href="/ajax/UserLogout"> 退出</a>
                                                    </span>
                                                </div>
                            }
                        }
                    </div>*@
            </div>
            <span class="arrow"></span>
            <!--login-->
            <!--searchbox-->
            <div class="searchbox" id="searchbox">
                <i class="close-icon" id="close-btn"></i>
                <i class="search-icon" id="search-btn"></i>
                <input id="web_search_header" placeholder="搜索课程、问答或Wiki" value="">
                <div class="tagbox">
                    <a href="http://search.jikexueyuan.com/course/?q=Android">Android</a>
                    <a href="http://search.jikexueyuan.com/course/?q=iOS">iOS</a>
                    <a href="http://search.jikexueyuan.com/course/?q=HTML5">HTML5</a>
                </div>
            </div>
        </div>
    </div>


    @RenderBody()
    @*<div class="clear"></div>*@
    <!--footer-->
    <div id="footer" class="mar-t50">
        <div class=" jkinfor-block"><div class="jkinfor cf"><dl><dt></dt><dd>·<a target="_blank" href="#">职业课程库</a></dd><dd>·<a target="_blank" href="#">知识体系图</a></dd><dd>·<a target="_blank" href="#">实战路径图</a></dd><dd>·<a target="_blank" href="#">企业课程</a></dd><dd>·<a target="_blank" href="#">资源下载</a></dd><dd>·<a target="_blank" href="#">课程标签</a></dd></dl><dl><dt>网站服务</dt><dd>·<a target="_blank" href="#">课程需求</a></dd><dd>·<a target="_blank" href="#">免费体验VIP</a></dd><dd>·<a target="_blank" href="#">黑板报</a></dd><dd>·<a target="_blank" href="#">网站地图</a></dd><dd>·<a target="_blank" href="#" rel="nofollow">QQ客服</a></dd></dl><dl><dt>帮助中心</dt><dd>·<a target="_blank" href="#">技术问答</a></dd><dd>·<a target="_blank" href="#">VIP权益</a></dd><dd>·<a target="_blank" href="#">常见问题</a></dd><dd>·<a target="_blank" href="#">服务条款</a></dd><dd>·<a target="_blank" href="#">版权声明</a></dd><dd>·<a target="_blank" href="#">免责声明</a></dd></dl><dl><dt>交流合作</dt><dd>·<a target="_blank" href="#">关于我们</a></dd><dd>·<a target="_blank" href="#">联系我们</a></dd><dd>·<a target="_blank" href="#">加入我们</a></dd><dd>·<a target="_blank" href="#">布道师招募</a></dd><dd>·<a target="_blank" href="#" rel="nofollow">合作咨询</a></dd><dd>·<a target="_blank" href="#">友情链接</a></dd></dl><div class="search-share"><div class="app-download"><a target="_blank" href="#"><img src="~/Content/web/img/iphone.png" width="21"><div><strong>手机客户端</strong><p>离线缓存  随时学习</p></div></a></div><div class="share"><a href="#" class="sina-icon" rel="nofollow" target="_blank"></a><a href="#" title="官方百度贴吧" class="tieba-icon" rel="nofollow" target="_blank"></a><a href="#" class="qq-icon" rel="nofollow"><img src="~/Content/web/img/weixin-pop.png" class="weinxinpop"></a></div></div></div></div><div class="w-1000 copyright">
            Copyright © 2013-2015 <strong><a href="#" target="_blank"></a></strong>&nbsp;<strong><a href="#" target="_blank">jikexueyuan.com</a></strong> All Rights Reversed. 京ICP备11018032号-8 京公网安备11010802013056
        </div>
    </div><!--footer-->
</body>
</html>

