@model NModel.NewsPager

@{  var newsClassify = Model.IDictMenu["新闻分类"];}



<div class="fl w228">

    <div class="hot fl">
        <h2>官方微信二维码</h2>
        <ul class="j">
            @*<a href="http://58.com/" target="_self" rel="nofollow"><img width="220" height="220" src="aa_files/qrcode_for_gh_e21b1c81eaab_258.jpg" alt="中文最大生活信息门户"></a>*@
            <li>功能：职位订阅 精准推送</li>
            <li>公众号：xxx</li>
            <li>微信号：amazing58</li>
            <li>提示：打开微信，点击底部菜单</li>
            <li>"发现"，选择"扫一扫"功能对准上</li>
            <li>方二维码即可关注。</li>
        </ul>
    </div>
    <div class="hot fl">
        <h2>热门排行</h2>
        <ul class="j">
            @{ foreach (var model in Model.IDctNewsList["left"])
             {

                <li><a href="/news/Detailed/@(model.News_ID)">@(model.News_Title)</a></li>

             }}
        </ul>
    </div>
    <div class="hot fl">
        <h2>推荐阅读</h2>
        <ul class="j">
            @{ foreach (var model in Model.IDctNewsList["right"])
             {

                <li><a href="/news/Detailed/@(model.News_ID)">@(model.News_Title)</a></li>

             }}
        </ul>
    </div>
</div>
<div class="clear"></div>
