@{
    ViewBag.Title = "Index";

    Layout = "";

    string cid = this.Request.QueryString["cid"];
    string text = this.Server.HtmlDecode(this.Request.QueryString["text"]);

    string type = this.Request.QueryString["type"];
    string setType = "";

    long _cid = 0;
    long.TryParse(cid, out _cid);
    string Name = "", Size = "";
    switch (type)
    {
        case "img":
            BLL.DB_Img_Category bll_img_c = new BLL.DB_Img_Category();
            NModel.DB_Img_Category Nmodel_img = bll_img_c.GetModel((long?)_cid);

            Name = Nmodel_img.Img_category_Name;
            Size = "压缩尺寸：" + Nmodel_img.Img_category_Size;
            bll_img_c.Close();
            setType += "fileTypeDesc:'*.jpg;*.jpeg;*.gif;*.png;',";
            setType += "fileTypeExts:'*.jpg;*.jpeg;*.gif;*.png;',";
            break;
        case "file":

            BLL.DB_File_Category bll_file = new BLL.DB_File_Category();
            NModel.DB_File_Category model_File = bll_file.GetModel((long?)_cid);
           Name = model_File.File_Category_Name+"";
           Size = "文件大小：" + model_File.File_Category_Size ; 
            bll_file.Close();
            setType += "fileTypeDesc:'*.zip;*.xlsx;*.docx;*.asf;*.ddb;*.doc;*.txt;*.xls;*.ppt;*.rar;*.pdf;*.swf;*.avi;*.rm;*.rmvb;*.wmv;*.mp4;*.mp3;',";
            setType += "fileTypeExts:'*.zip;*.xlsx;*.docx;*.asf;*.ddb;*.doc;*.txt;*.xls;*.ppt;*.rar;*.pdf;*.swf;*.avi;*.rm;*.rmvb;*.wmv;*.mp4;*.mp3;',";

            break;

    }

   
  
 
  
  
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type="text/css" media="screen">
        .my-uploadify-button {
            background: none;
            border: none;
            text-shadow: none;
            border-radius: 0;
        }

        .uploadify:hover .my-uploadify-button {
            background: none;
            border: none;
        }

        .fileQueue {
            height: 250px;
            overflow: auto;
            border: 1px solid #E5E5E5;
            margin-bottom: 10px;
        }
    </style>
    </head>



<body>
    <div class="pageContent">
        <div class="pageForm required-validate">
            <div class="pageFormContent" layouth="56">
                <div class="divider"></div>


                <div id="fileQueue" class="fileQueue"></div>




                <div class="divider"></div>
            </div>

            <div class="formBar" style=" height:90px; ">
                <ul>
                    <li><a class="button" height="22"><span>上传所属分类(@{@(Name)}) (@(Size)) </span></a> </li>

                    <li>
                        <input id="testFileInput2" type="file" name="image"
                               uploaderoption="{
                               swf:'/Content/dwz/uploadify/scripts/uploadify.swf',
                        uploader:'/UploadFile/UploadFile?cid=@{Output.Write(cid);}&type=@{Output.Write(type);}',
                        method: 'post',
                        queueID:'fileQueue',
                        @{Output.Write(setType);}
                        buttonImage:'/Content/dwz/uploadify/img/add.jpg',
                        buttonClass:'my-uploadify-button',
                        width:102,
                        auto:false,
                        uploadLimit:100


                        }" />
                    </li>

                   
                    <li><input type="image" src="/Content/dwz/uploadify/img/upload.jpg" onclick="$('#testFileInput2').uploadify('upload', '*');" /></li>
                    <li><input type="image" src="/Content/dwz/uploadify/img/cancel.jpg" onclick="$('#testFileInput2').uploadify('cancel', '*');" /></li>
                </ul>


                <script>


                </script>
            </div>
        </div>

    </div>
</body>
</html>