@{
    ViewBag.Title = "Select_item_tree";
}
<div class="pageContent">




    <form method="post" class="pageForm required-validate">

        <div class="pageFormContent" layouth="56">
            <ul id="select_admin_role" class="tree treeFolder treeCheck expand"></ul>

        </div>

        <div class="formBar">
            <ul>
                <!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
                <li><div class="buttonActive"><div class="buttonContent"><button onclick="fun_select_tree_admin_role(this)" type="submit" class="close">确定</button></div></div></li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>

</div>
@*<script src="~/Content/dwz/js/jquery-1.7.2.min.js"></script>*@


<script>
    $(function () {
        var select_admin_role = $("#select_admin_role");

        var stylecol = "";
        function ToJsonShowTree(dt) {


            var htmlTree = "";

            var rows = dt;

            for (var i = 0; i < rows.length; i++) {

               

                var menu_id = rows[i].menu_id;
                var menu_name = rows[i].menu_name;
                var menu_url = rows[i].menu_url;
                var menu_status_show = rows[i].menu_status_show;
                var menu_status = rows[i].menu_status;
                var menu_x = rows[i].menu_x;
                var menu_y = rows[i].menu_y;
                var menu_z = rows[i].menu_z;
                var menu_sortno = rows[i].menu_sortno;
                var menu_operate = rows[i].menu_operate;
                var menu_operate_show = rows[i].menu_operate_show;
                var menu_img_url = rows[i].menu_img_url;
                var menu_addtime = rows[i].menu_addtime;
                var menu_edittime = rows[i].menu_edittime;
                var iconCls = rows[i].iconCls;


                var Checked=""
                var s_Admin_Role_ID=  ($.SelectAdmin_Role_ID+"").split(",")
                if(s_Admin_Role_ID!=null&&s_Admin_Role_ID.length){
                
               
                    for (var l = 0; l < s_Admin_Role_ID.length;l++)
                    {
                      var isChecked=  parseInt(s_Admin_Role_ID[l]) == menu_id
                      if (isChecked) {

                          Checked = "checked";
                          break;
                      }

                    }
                         }
                htmlTree += "<li class='select_menu_" + menu_id + "'>"
                stylecol += '<style>.select_menu_' + menu_id + ' .folder_collapsable,.select_menu_' + menu_id + '  .file{height: 16px; margin-right: 2px; margin-top: 2px;width: 16px; background-position: 0 0;background-position: 0 0;background:url(/Content/img/cw_icon/' + menu_img_url.replace("cw_", "") + '.png)  </style> '
                htmlTree += '<a tname="name" tvalue="' + menu_id + '"  ' + Checked + '  >' + menu_name + '</a>';

                var children = rows[i].children
                if (children != null && children.length > 0) {

                    htmlTree += "<ul>";
                }
                if (children != null)
                    for (var j = 0; j < children.length; j++) {

                        var children_id = children[j].menu_id;
                        var children_name = children[j].menu_name;
                        var children_url = children[j].menu_url;
                        var children_status_show = children[j].menu_status_show;
                        var children_status = children[j].menu_status;
                        var children_x = children[j].menu_x;
                        var children_y = children[j].menu_y;
                        var children_z = children[j].menu_z;
                        var children_sortno = children[j].menu_sortno;
                        var children_operate = children[j].menu_operate;
                        var children_operate_show = children[j].menu_operate_show;
                        var children_img_url = children[j].menu_img_url;
                        var children_addtime = children[j].menu_addtime;
                        var children_edittime = children[j].menu_edittime;
                        var iconCls = children[j].iconCls;

                        var _rchildren = children[j].children;

                        var _Checked = ""
                        var _s_Admin_Role_ID = ($.SelectAdmin_Role_ID + "").split(",")
                        if (_s_Admin_Role_ID != null && _s_Admin_Role_ID.length) {


                            for (var l = 0; l < _s_Admin_Role_ID.length; l++) {
                                var isChecked = parseInt(_s_Admin_Role_ID[l]) == children_id
                                if (isChecked) {

                                    _Checked = "checked";
                                    break;
                                }

                            }
                        }
                        htmlTree += "<li class='select_menu_" + children_id + "'>"
                        stylecol += '<style>.select_menu_' + children_id + ' .folder_collapsable,.select_menu_' + children_id + '  .file{height: 16px; margin-right: 2px; margin-top: 2px;width: 16px; background-position: 0 0;background-position: 0 0;background:url(/Content/img/cw_icon/' + children_img_url.replace("cw_", "") + '.png)  </style> '
                        htmlTree += '<a tname="name" tvalue="' + children_id + '"  ' + _Checked + '   >' + children_name + '</a>';
                        if (_rchildren != null && _rchildren.length > 0) {


                            htmlTree += "<ul>";
                            htmlTree += ToJsonShowTree(_rchildren)

                            htmlTree += "</ul>";
                        } else {



                        }

                        htmlTree += "</li>";

                    }
                if (children != null)
                    if (children.length > 0) {

                        htmlTree += "</ul>";
                    }
                htmlTree += "</li>"
            }

            return htmlTree;
        }


        $.ajax({
            url: "/AdminData/Data_Admin_Menu?page=1&rows=190", async: false, success: function (data) {

                var dt = eval('(' + data + ')');

                if (dt == null) return;
                var pageSize = dt.total;
                var htmlContent = ToJsonShowTree(dt.rows);

                select_admin_role.html(htmlContent+   stylecol );
            }
        })


    })


</script>

