@{
    ViewBag.Title = "Index";


    ViewBag.Index = "00";
    Layout = "~/Views/Shared/_LayoutNMember.cshtml";



}

<script src="~/Content/js/jquery.cityselect.js"></script>

@model NModel.NewsPager



<div class="cmcenter">
    <div class="cmheader">
        <div class="cmheadermsg"><a href="#">个人信息管理</a> » <a> 修改登录密码</a></div>
        <div class="clear" style="height:15px;"></div>


        @*<div class="cmheader">


            <span class="cmspan">
                <div class="cmheadersearch">

                    <input type="text" class="cmheadertxtsearch" style="border:1px solid #d9d9d9;height:28px;width:250px;line-height:28px" />
                    <input type="button" value="搜索" style="border:1px solid #d9d9d9;width:50px; height:28px" />

                </div>



                <div class="cmheaderbtn">
                    <input type="button" value="清除所有消息" style="border: 1px solid #38A4E0; width: 100px; height: 28px; float: right; margin-left: 10px; " />
                    <input type="button" value="发送消息" style="border: 1px solid #38A4E0; width: 100px; height: 28px; float: right; " />

                </div>

            </span>
        </div>*@



    </div>

    <div class="clear"></div>
    <div class="cmheadercn">








        <div class="cmheadertop">


            <h2 class="cmheaderh2">修改登录密码</h2>
          
        </div>

        <div class="clear" style="height:5px;"></div>
        <form method="POST" action="/action/profile/passwd?user=558911" id="change_pwd">
            <table width="100%" class="cmtable">
                <tbody>
                    <tr>
                        <th width="150">旧的登录密码</th>
                        <td>

                            <span class="textbox">

                                <input type="password" tabindex="1" class="TEXT" size="30" id="pwd" name="pwd">
                            </span>

                                &nbsp;&nbsp;&nbsp;&nbsp;
                            <a target="_blank" href="http://www.oschina.net/home/reset-pwd?email=dict020@126.com">忘记登录密码 »</a>
                        </td>
                    </tr>
                    <tr>
                        <th>新密码</th>
                        <td>
                            <span class="textbox">
                                <input type="password" tabindex="2" class="TEXT" size="30" id="newpwd" name="newpwd">
                            </span></td>
                    </tr>
                    <tr>
                        <th>再次输入新密码</th>
                        <td>
                            <span class="textbox">
                                <input type="password" tabindex="3" class="TEXT" size="30" id="newpwd2" name="newpwd2">
                            </span></td>
                    </tr>
                    <tr><th colspan="2"></th></tr>
                    <tr class="submit">
                        <th></th>
                        <td>
                            <input type="submit" tabindex="4" class="BUTTON SUBMIT" value="修改密码">
                            <span style="color:red;display:none" id="error_msg"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>
    <div class="clear" style="height:15px;"></div>


</div>

