@{
    ViewBag.Title = "Detailed";

    Layout = "~/Views/Shared/_LayoutNews.cshtml";
}

@model NModel.NewsPager
<div class="erji">
   @{
       
       
       var newsClassify = Model.IDictMenu["新闻分类"];
       var newsModel=Model.IDctNewsModel["新闻实体"];

}


@{ foreach (var model in newsClassify)
 {
     bool iSelect = ViewBag.nIndex == model.Menu_Num;
     if (iSelect)
     {
        <a class="ac" href="/news/list/@(model.Menu_Num)">@(model.Menu_Name)</a>
     }
     else
     {
        <a href="/news/list/@(model.Menu_Num)">@(model.Menu_Name)</a>
     }


 } }
</div>
<div class="box">
    <div class="left fl">
        <h2>
            @*<span class="daohang"><a href="http://www.58.comhttp//www.58.com"></a> &gt; <a href="http://www.58.com/zp/">招聘</a> &gt; <a href="http://www.58.com/zhichangzixun/">职场资讯</a> &gt; <a href="http://www.58.com/jiuyedongtai/">就业动态</a></span>*@
        </h2>
        <div class="wenzhang">
            <h1>@(newsModel.News_Title)</h1>
            <div class="sm">来源：Hello - 时间：@(newsModel.News_AddTime) - 阅读：@(newsModel.News_ClickRate)</div>
            <table width="100%" cellspacing="0" cellpadding="0" id="content">
                <tbody>
                    <tr>
                        <td>
                        @{Output.Write(newsModel.News_Content + "");}
                        </td>
                    </tr>
                    <!-- 百度分享 BEGIN -->
                   
                    <!-- 百度分享 END -->
                </tbody>
            </table>
        </div>
        @*<!--评论畅言PC高速版，加载速度快，使用前需测试页面的兼容性-->
        <div id="SOHUCS" style="width: 100%; height: auto;">
            <div id="SOHU_MAIN">
                <div class="sohu-comment-wrapper" id="SOHU-comment-main">
                    <div id="article_info_sohu">
                        <div class="reset-g clear-g section-title-w  section-title-logoutStyle">
                            <div class="title-join-w">
                                <div class="join-wrap-w join-wrap-b"><strong class="wrap-name-w wrap-name-b">评论</strong><span class="wrap-join-w wrap-join-b">(<em class="join-strong-gw join-strong-bg">0</em>人参与<i class="gap-b">，</i><em class="join-strong-gw join-strong-bg">0</em>条评论)</span></div>
                            </div>
                            <div class="title-user-w">
                                <div class="title-link-w" node-type="sohu-pact" style="display: none;"><a target="_blank" href="http://zt.pinglun.sohu.com/s2014/sljyhgy/index.shtml">搜狐“我来说两句”用户公约</a></div>
                            </div>
                        </div>
                    </div><div id="login_sohu"></div><div id="comment_sohu">
                        <div class="reset-g section-cbox-w">
                            <div style="width:1px;height:1px;overflow:hidden;"><img style="visibility:hidden;width:1px;height:1px;" src="http://changyan.itc.cn/v2/asset/scs/imgs/vcode.jpg"></div><div class="clear-g cbox-block-w">
                                <div class="block-head-w">
                                    <div class="head-img-w">
                                        <a target="_self" href="javascript:void(0)" node-type="user-avatar"><img width="42" height="42" alt="" onerror="SOHUCS.isImgErr(this)" src="http://comment.bjcnc.img.sohucs.com/88b4fc74a5ef0452f0d353f445ae2607_default_1413810502869_png"></a>
                                    </div>
                                    <div class="head-gold-w"><a href="javascript:void(0)">金币</a></div>
                                </div>
                                <div class="block-post-w"><div class="post-default-w post-default-b"><div class="clear-g default-wrap-w"><input type="text" class="wrap-text-f " value="说两句咩，评论也是一种态度喵~" name=""><button class="btn-fw btn-bf single-btn-bf">发布</button></div></div></div>
                            </div><div style="display: none;" class="cbox-prompt-w" node-type="prompt-no-privilege">
                                <span class="prompt-empty-w prompt-empty-b">等级不够，发表评论升至指定级别才能获得该特权。详情请参见<a href="javascript:;" node-type="privilege-intro">等级说明</a>。</span>
                            </div>
                        </div>
                    </div><div id="list_sort_sohu"></div><div id="list_sohu" topicid="439023467">
                        <div class="reset-g section-list-w">
                            <div class="list-comment-empty-w">
                                <div class="empty-prompt-w"><span class="prompt-null-w prompt-null-b">还没有评论，快来抢沙发吧！</span></div>
                            </div>
                        </div>
                    </div>            <div class="reset-g section-newslist-w">
                        <div class="newslist-title-w"><h3 class="title-name-w">热评话题</h3></div>
                        <div class="newslist-conts-w clear-g">
                            <ul class="conts-col conts-col-1 clear-g">
                                <li style="width:334px;white-space:nowrap;overflow:hidden;float:left;"><a title="2013中超官方最佳阵容:恒大7人 鲁能国安各有2将-58同城" target="_blank" href="http://www.58.com/zuqiunews/559815.html" index="0">2013中超官方最佳阵容:恒大7人 鲁能国安各有2<span class="hot"></span></a></li>
                                <li style="width:334px;white-space:nowrap;overflow:hidden;float:right;"><a title="工作能力自我评价-58同城" target="_blank" href="http://www.58.com/ziwopingjia/20140918641316.html?PGTID=14211683122530.4639053351711482&amp;ClickID=1" index="1">工作能力自我评价-58同城<span class="hot"></span></a></li>
                                <li style="width:334px;white-space:nowrap;overflow:hidden;float:left;"><a title="工作能力自我评价-58同城" target="_blank" href="http://www.58.com/ziwopingjia/20140918641316.html?PGTID=14211510894860.4771012422871404&amp;ClickID=1" index="2">工作能力自我评价-58同城<span class="hot"></span></a></li>
                                <li style="width:334px;white-space:nowrap;overflow:hidden;float:right;"><a title="工作能力自我评价-58同城" target="_blank" href="http://www.58.com/ziwopingjia/20140918641316.html?PGTID=14211621492140.8510396105010218&amp;ClickID=1" index="3">工作能力自我评价-58同城</a></li>
                                <li style="width:334px;white-space:nowrap;overflow:hidden;float:left;"><a title="工作能力自我评价-58同城" target="_blank" href="http://www.58.com/ziwopingjia/20140918641316.html?PGTID=14211641071200.6678406002465636&amp;ClickID=1" index="4">工作能力自我评价-58同城</a></li>
                                <li style="width:334px;white-space:nowrap;overflow:hidden;float:right;"><a title="工作能力自我评价-58同城" target="_blank" href="http://www.58.com/ziwopingjia/20140918641316.html?PGTID=14211703860010.13775016159575215&amp;ClickID=1" index="5">工作能力自我评价-58同城</a></li>
                                <li style="width:334px;white-space:nowrap;overflow:hidden;float:left;"><a title="工作能力自我评价-58同城" target="_blank" href="http://www.58.com/ziwopingjia/20140918641316.html?PGTID=14211547247360.1866411539442644&amp;ClickID=1" index="6">工作能力自我评价-58同城</a></li>
                                <li style="width:334px;white-space:nowrap;overflow:hidden;float:right;"><a title="工作能力自我评价-58同城" target="_blank" href="http://www.58.com/ziwopingjia/20140918641316.html?PGTID=14211496065780.3736770509276539&amp;ClickID=1" index="7">工作能力自我评价-58同城</a></li>
                                <li style="width:334px;white-space:nowrap;overflow:hidden;float:left;"><a title="工作能力自我评价-58同城" target="_blank" href="http://www.58.com/ziwopingjia/20140918641316.html?PGTID=14211640760780.39731793920509517&amp;ClickID=1" index="8">工作能力自我评价-58同城</a></li>
                                <li style="width:334px;white-space:nowrap;overflow:hidden;float:right;"><a title="工作能力自我评价-58同城" target="_blank" href="http://www.58.com/ziwopingjia/20140918641316.html?PGTID=14211479969210.18801861023530364&amp;ClickID=1" index="9">工作能力自我评价-58同城</a></li>
                            </ul>
                        </div>
                    </div><div id="page_sohu"></div><div id="more_list_sohu"></div><div id="powerby_sohu">
                        <div class="reset-g section-service-w">
                            <div class="service-wrap-w service-wrap-b"><a target="_blank" href="http://changyan.sohu.com?from=changyan" node-type="powered-by">畅言</a></div>
                        </div>
                    </div>
                </div>
            </div><iframe src="http://changyan.sohu.com/v2/asset/main-inner.html?v=1421228053384" style="display: none;"></iframe>
        </div>
      
        <!--评论PC畅言end-->
        <div class="mt1" id="ds-ssr">
            <dl class="tbox">
                <dt>
                    <strong>评论列表（网友评论仅供网友表达个人看法，并不表明本站同意其观点或证实其描述）</strong>
                </dt>
                <dd>
                    <div class="dede_comment">
                        <div class="decmt-box1">
                            <ul>
                                <li id="commetcontentNew"></li>
                            </ul>
                        </div>
                    </div>
                </dd>
            </dl>
        </div>*@



    </div>
   @Html.Partial("_PartialNewsRight")
</div>
