@{

    Layout = "";
    ViewBag.Title = "用户管理";


}


<style type="text/css">
    .check_admin_user_pw td {
    
    padding:15px;
    
    }
   
</style>


<div class="panel" defh="350">
    <h1>用户修改密码</h1>
    <div class="pageContent">


        <form id="fm_admin_user_pw" method="post"   >
            <div class="pageFormContent nowrap" layouth="97">

                <table cellpadding="5" class="check_admin_user_pw">

                    <tr>


                        <td>旧密码:</td>
                        <td>
                            <input name="o_admin_user_pw" id="o_admin_user_pw"
                                   class="required"  
                                   type="password" style=" width:180px;  height:18px; " />

                            <span class="info"></span>
                        </td>



                    </tr>
                    <tr>


                        <td>新密码:</td>
                        <td>
                            <input name="admin_user_pw" id="admin_user_pw"
                                   class="required" 
                                   type="password" style=" width:180px;  height:18px; " />

                            <span class="info"></span>
                        </td>



                    </tr>


                    <tr>
                        <td>确认密码:</td>
                        <td>
                            <input name="r_admin_user_pw" id="r_admin_user_pw"
                                   class="required " 
                                   type="password" style=" width:180px;  height:18px; " />
                        </td>
                    </tr>

                    <tr>

                        <td></td>
                        <td>

                            <a class="button" onclick="_edit_pw_admin_user_reset()" style="width:90px"><span>重置</span></a>
                            <a class="button" onclick="_edit_pw_admin_user_sub()" style="width:90px"><span>修改密码</span></a>
                        </td>

                    </tr>

                </table>
                
                <script type="text/javascript">

                  
                    function _edit_pw_admin_user_reset() {


                        $("#fm_admin_user_pw")[0].reset();

                    }

                    function _edit_pw_admin_user_sub() {
                        var admin_userpw = $("#admin_user_pw").val()

                        var r_admin_userpw = $("#r_admin_user_pw").val();
                        var o_admin_userpw = $("#o_admin_user_pw").val();
                     


                        $.post("/AdminDataAE/Edit_Admin_User_Pw", {
                            admin_user_pw: admin_userpw,
                            r_admin_user_pw: r_admin_userpw,
                            o_admin_user_pw: o_admin_userpw
                        }, function (dt) {

                          
                            var data = eval('(' + dt + ')');

                            alertMsg.info(data.msg)
                        });
                       


                    }

                    /*
                      "admin_user_pw": _admin_user_pw,
                             "r_admin_user_pw": _r_admin_user_pw,
                             "o_admin_user_pw": _o_admin_user_pw
                    */

                </script>


            </div>

        </form>
    </div>

    </div>



