@charset "utf-8";
/* CSS Document */
@import url(/Content/web/css/topbar.css);
body,h1,h2,h3,h4,h5,h6,p,ul,li,i,dl,dt,dd{margin:0;padding:0;font-style:normal;list-style:none}
body{font:14px/30px Tahoma;color:#333}img{border:none}
a,a strong{color:#25d;text-decoration:none}a:hover,a strong:hover{color:#f50;text-decoration:underline}
.fl{float:left}.clear{clear:both}.red{color:#f00}.f14{font-size:14px}.f12{font-size:12px}
.rele a,#nav,#navin,#navin li,h2,.j li,.z li span,h3,.bdshare_t a,.down a{ background:url(/content/news/img/sprites.png) no-repeat}
a strong{ font-size:14px}

#navlist{ position:relative; z-index:1000; width:1000px; margin:0 auto;font-size:12px}#navlist ul{padding-left:2px; height:27px; line-height:27px; position:absolute; left:244px; top:-27px; overflow:hidden}#navlist li{border-right:1px solid #d6d6d6; border-left:1px solid #fff; height:14px; line-height:14px; float:left; padding:0 15px; margin-top:6px}#navlist li.sel{background:#fff; height:27px; line-height:26px; margin:0;border-left:1px solid #d6d6d6; font-weight:900; margin-left:-1px;}#navlist li#navbrn{border-right:none}#navlist li#navbln{border-left:none}#navlist li.sel#navbrn{border-right:1px solid #d6d6d6;}#navlist li.sel#navbln{border-left:1px solid #d6d6d6;}#navlist li a{color:#666}

#header{padding:20px 0 10px;}
#headerinside{width:1000px;margin:0 auto;position:relative}
#logo span,#logo h1{display:inline-block;*display:inline;position:relative;top:-4px;font:26px "微软雅黑";color:#757575; padding:0;}
.rele{position:absolute;right:0;top:1px;}
.rele a{display:block;width:136px;height:38px;line-height:1000px;overflow:hidden;float:left;margin-left:10px}
.rele a#fabu{background-position:0 0;}.rele a#zhao{background-position:-274px 0;}

#nav{height:36px;background-position:0 -109px;background-repeat:repeat-x}
#navin{height:36px;width:1000px;margin:0 auto;background-position:0 -109px;}
#navin li{float:left;padding:0 20px;line-height:34px;background-position:-572px 8px;}
#navin li a{color:#fff;font-weight:bold}#navin li a:hover{text-decoration:none;color:#FFFFCC}
#navin li.active{ background-position:0 -412px;margin-top:1px;border:1px solid #7EF22C;border-bottom:none}
#navin li.active a{color:#666;}
#navin li.n{background:none}

.content{background:#e8e8e8 url(/content/news/img/content_bg.gif) repeat;padding-top:20px;}
.box{width:1000px;margin:0 auto;padding-bottom:10px;}
.hot{width:228px;height:254px;border:1px solid #ddd;background:#fff;}
h2{font:16px "微软雅黑";height:31px;line-height:31px;padding-left:10px; background-position:0 -146px;border-bottom:1px solid #ddd;}
h2.jd{background-position:0 -40px;}
.j,.z{margin:5px 0;}
.j li{margin:0 10px;height:30px;overflow:hidden;background-position:-754px 0;padding-left:10px;}
.imgs{width:518px;height:254px;border:1px solid #ddd;margin:0 10px;background:#fff;    overflow: hidden;}
.jsimg{position:relative;}
.jianyao{width:518px;height:58px;background:#000;position:absolute;left:0;bottom:30px;filter:alpha(opacity=40);-moz-opacity:0.4;-khtml-opacity: 0.4;opacity: 0.4;z-index:800;}
.jianyaowz{width:498px;height:46px;position:absolute;left:0;bottom:30px;z-index:1000;font-size:12px;line-height:24px;color:#fff;padding:6px 10px;}
.jianyaowz a{color:#fff;}
.pag{position:absolute;right:5px;bottom:5px;width:95px;height:20px;line-height:20px;border-left:1px solid #f5efcc;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.pag a{display:inline-block;width:18px;height:18px;line-height:18px;border:1px solid #f5efcc;border-left:none;background:#fff;text-align:center; text-decoration:none;color:#FF7A22;font-size:12px}
.pag a.current{color:#fff;background:#FF7A22}
.z li{margin:0 10px;height:30px;_line-height:35px;overflow:hidden;font-size:12px}
.z li span{display:inline-block;width:18px;height:18px;position:relative;top:5px;margin-right:8px;}
.z li span.z1{background-position:-229px -40px;}
.z li span.z2{background-position:-248px -40px;}
.z li span.z3{background-position:-267px -40px;}
.z li span.z4{background-position:-286px -40px;}
.z li span.z5{background-position:-305px -40px;}
.z li span.z6{background-position:-324px -40px;}
.z li span.z7{background-position:-343px -40px;}

h3{font:20px "微软雅黑";height:39px;line-height:39px;padding-left:20px;}
.xbt{padding:0 10px;position:relative;color:#666;}
.xbt h4{font-size:14px}
.xbt a{position:absolute;top:0;_top:-5px;right:10px;font-size:12px;}
.zcc{margin-bottom:10px;}
.gonglue{background:url(box_bg1.gif) repeat}
.gonglue h3{background-position:0 -178px;color:#034aac; overflow:hidden;}
.mianshi{background:url(box_bg2.gif) repeat}
.mianshi h3{background-position:0 -217px;color:#ff6000; overflow:hidden;}
.xinzi{background:url(box_bg3.gif) repeat}
.xinzi h3{background-position:0 -256px;color:#039029; overflow:hidden;}
.shenzai{background:url(box_bg4.gif) repeat}
.shenzai h3{background-position:0 -295px;color:#6a07d0; overflow:hidden;}
.laodong{background:url(box_bg5.gif) repeat}
.laodong h3{background-position:0 -334px;color:#8d4958; overflow:hidden;}
.zichang{background:url(box_bg6.gif) repeat}
.zichang h3{background-position:0 -373px;color:#55a9e2; overflow:hidden;}

.small,.middle,.images{border:1px solid #eee;height:220px;background:#fff;padding:9px 7px;margin-left:10px;_margin-left:7px; overflow:hidden;}
.images{ height:190px;margin:0 10px;}
.small{width:241px;}
.middle{width:430px;}
.middle p{padding:10px 0 0 10px;width:190px;}
.middle p img{border:1px solid #dbdadd}
.middle p i{color:#666;}
.middle p a{display:block;font-size:12px;line-height:22px;}
.middle p a.bb{height:44px; overflow:hidden;padding-top:5px;}
.mj{width:220px;}
.mj .j li{margin:0 0 0 20px}
.images li{float:left;width:109px;font-size:12px;line-height:20px;padding:10px 20px 0 10px;}
.images li.n{padding-right:10px}
.images li img{border:1px solid #dbdadd}
.images li a.bv{display:block;height:20px;overflow:hidden; text-align:center}

.bt{background:#fff;color:#898989}
.lanmu li{float:left;padding:20px 45px 10px;line-height:24px;}
.lanmu li b{font:16px "微软雅黑";color:#333;line-height:30px;}
.bt a{color:#898989;font-size:12px}
#flink{border-top:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;margin:0 10px;padding:10px;font-size:12px;line-height:20px;}
#footer{font-size:12px;text-align:center}

.left{border:1px solid #ddd;background:#fff;width:758px;margin-right:10px;}
.erji{width:958px;background:#fff;border:1px solid #ddd;border-top:none;height:32px;margin:0 auto 10px;padding:8px 20px 0;}
.erji a{display:inline-block;padding:3px;height:18px;line-height:18px;margin-right:10px; font-weight:bold}
.erji a.ac{background:#ff8a1d;border:1px solid #f94701;color:#fff;}
.content.ej{padding-top:0;}
.daohang{font-size:12px;color:#999;}.daohang a{color:#777;}.daohang a:hover{color:#f00;}
.pdlist li{padding:15px 23px;border-bottom:1px solid #f4f4f4;color:#666;}
.pdlist li span{font-size:12px;float:right}
.pdlist li b{color:#666;margin-right:5px; font-size:14px}
.pdlist li b a{ color:#666;font-size:14px}
.pdlist li b a:hover{ color:#f50;}
.pdlist li .f12{line-height:22px;letter-spacing:1px;padding-bottom:5px;}
.paging {text-align:center;padding:20px 0;}
.paging a,.paging span {height:20px; line-height:20px; padding:0 6px; border:1px solid #C0C0C0; margin:0 5px; background:#fff; display:inline-block; color:#322D29;}
.paging span {color:#C4C4C4; border:1px solid #C0C0C0;}
.paging .on {color:#fff; border:1px solid #ff7a22; background-color:#ff9e43;}
.neilian{padding:10px 20px 5px;color:#ccc;font-size:12px}
.w228{width:228px;}.w228 .hot{margin-bottom:10px; height:auto}.w228 .j{font-size:12px}
.tuijian{padding:10px 0 0 10px}
.tuijian a{display:inline-block;padding:3px;margin:0 9px 9px 0;line-height:20px;color:#666;}
.y1{background:#ffeede}.y2{background:#e5f0ff}.y3{background:#ffeeee}.y4{background:#e3ffeb}.y5{background:#f0dfff}.y6{background:#ffd9e3}.y7{background:#dafffd}
h1{ text-align:center;font:22px "微软雅黑";padding:30px 0 15px;}
.sm{font-size:12px;color:#999;text-align:center;padding-bottom:20px;}
#content td{padding:0 20px;}
#content td p{text-indent:28px;padding-bottom:10px;word-break:break-all;}
.n_p{border-top:1px solid #f7f7f7;padding:5px 20px;font-size:12px;color:#666;position:relative}
.share{position:absolute;top:5px;right:0;line-height:240xp;width:150px;}
.share em{display:inline-block;font-style:normal;float:left;}
.bdshare_t a{display:inline-block;width:18px;height:17px;line-height:100px;overflow:hidden;float:left;margin-top:7px;margin-right:5px;}
.bdshare_t a.bds_tsina{ background-position:-411px 0;}
.bdshare_t a.bds_tqq{ background-position:-433px 0;}
.bdshare_t a.bds_qzone{ background-position:-453px 0;}
.bdshare_t a.bds_renren{ background-position:-476px 0;}
.down{ text-align:center;padding:40px 0;}
.down a{display:inline-block;width:136px;height:38px; background-position:-137px 0;line-height:1000px; overflow:hidden}
.listimg{margin-top:15px;}
.listimg li{width:117px;float:left;padding:10px 5px 10px 25px;}
/*.listimg li img{border:1px solid #c2c2c2;}*/
.listimg li a.aimg{display:block;width:110px;height:160px;padding:3px;background:#f3f3f3;border:1px solid #ababab;}
.listimg li a.atext{display:block;font-size:12px;height:24px;line-height:24px;overflow:hidden;text-align:center}

.about{ background:none; padding-left:0; font:bold 14px/30px "宋体"; height:30px;}
.ul2{ padding-bottom:8px;}
.ul2 li{ width:50%; float:left}
.ul2 li span{ margin-right:10px;}
/*20120903 style*/
.cw_l{ float:left;}
.pet_pic{background: url("http://pic2.58.com/zp/jianli/box_bg7.png") repeat 0 0;}
.pet_pic h3{ background-position:0 -465px; color:#cf3f3f; overflow:hidden;}
.span_right_cw{ float:right; font-size:12px;font-weight:normal; padding-right:10px; height:39px; line-height:39px;	}
.span_right_cw a{height:39px; line-height:39px; display:inline-block;}
.i_allover{background: url("/content/news/img/sprites.png") no-repeat 0 -508px; _background-position:0 -506px; width:12px; height:12px; display:inline-block;}
.classify_a{padding:10px 0 10px 10px;}
.classify_a a{display:inline-block;padding:3px;line-height:20px; font-size:12px;}
/*130114 zr*/
.listimg li{ width:127px; padding:10px 0 10px 20px;}
.listimg li .preview{display:block;height:177px; width:125px;border:1px solid #c2c2c2; overflow:hidden}
/*热门职位推荐*/
.hotpRec{border-top: 1px solid #f7f7f7;padding:5px 0 4px 20px; font-size: 12px; overflow: hidden;zoom:1}
.hotpRec dt{line-height: 20px}
.hotpRec .hotpList a{float:left;width: 102px; height: 20px; line-height: 20px}
.nobor{border-top: none; padding-top: 0}