@{
    ViewBag.Title = "Index";


    ViewBag.Index = "00";
    Layout = "~/Views/Shared/_LayoutNMember.cshtml";



}

<script src="~/Content/js/jquery.cityselect.js"></script>

@model NModel.NewsPager



<div class="cmcenter">
    <div class="cmheader">
        <div class="cmheadermsg"><a href="#">个人信息管理</a> » <a> 站内消息</a></div>
        <div class="clear" style="height:15px;"></div>


        <div class="cmheader">


            <span class="cmspan">
                <div class="cmheadersearch">

                    <input type="text" class="cmheadertxtsearch" style="border:1px solid #d9d9d9;height:28px;width:250px;line-height:28px" />
                    <input type="button" value="搜索" style="border:1px solid #d9d9d9;width:50px; height:28px" />

                </div>



                <div class="cmheaderbtn">
                    <input type="button" value="清除所有消息" style="border: 1px solid #38A4E0; width: 100px; height: 28px; float: right; margin-left: 10px; " />
                    <input type="button" value="发送消息" style="border: 1px solid #38A4E0; width: 100px; height: 28px; float: right; " />

                </div>

            </span>
        </div>



    </div>

    <div class="clear"></div>
    <div class="cmheadercn">








        <div class="cmheadertop">



            <span style="margin-left:20px; " id="selectedcnheader">


                基本资料


            </span>

            <span>


                联系信息


            </span>
            <span>

                职业枝能


            </span>
        </div>

        <div class="clear" style="height:5px;"></div>

        <table class="cmtable" >
            <tr><th>登录账号：</th><td><span class="textbox"><input type="text" /> </span> </td></tr>

            <tr><th>呢称：</th><td> <span class="textbox"><input type="text" /> </span></td></tr>

            <tr>
                <th>性别：</th>
                <td>
                    <input type="radio" checked="" value="1" name="gender">男
                    <input type="radio" value="2" name="gender">女
                </td>
            </tr>


            <tr>
                <th>出生日期：</th>

                <td>
                    <select name="y">
                        <option value="0">--</option>

                        <option value="2006">2006</option>
                        <option value="2005">2005</option>
                        <option value="2004">2004</option>
                        <option value="2003">2003</option>
                        <option value="2002">2002</option>
                        <option value="2001">2001</option>
                        <option value="2000">2000</option>
                        <option value="1999">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option selected="" value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                        <option value="1979">1979</option>
                        <option value="1978">1978</option>
                        <option value="1977">1977</option>
                        <option value="1976">1976</option>
                        <option value="1975">1975</option>
                        <option value="1974">1974</option>
                        <option value="1973">1973</option>
                        <option value="1972">1972</option>
                        <option value="1971">1971</option>
                        <option value="1970">1970</option>
                        <option value="1969">1969</option>
                        <option value="1968">1968</option>
                        <option value="1967">1967</option>
                        <option value="1966">1966</option>
                        <option value="1965">1965</option>
                        <option value="1964">1964</option>
                        <option value="1963">1963</option>
                        <option value="1962">1962</option>
                        <option value="1961">1961</option>
                        <option value="1960">1960</option>
                        <option value="1959">1959</option>
                        <option value="1958">1958</option>
                        <option value="1957">1957</option>
                        <option value="1956">1956</option>
                        <option value="1955">1955</option>
                        <option value="1954">1954</option>
                        <option value="1953">1953</option>
                        <option value="1952">1952</option>
                        <option value="1951">1951</option>
                        <option value="1950">1950</option>
                    </select> 年
                    <select name="m"><option value="0">--</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option selected="" value="11">11</option><option value="12">12</option></select> 月
                    <select name="d"><option value="0">--</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option selected="" value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select> 日
                </td>
            </tr>

            <tr>
                <th>居住地区：</th>
                <td>

                    <div id="city_2">
                        <select class="prov" name="User_Prov"></select>
                        <select class="city" name="User_City" disabled="disabled"></select>
                        <select class="dist" name="User_Dist" disabled="disabled"></select>
                    </div>

                    <script>

                        $(function () {
                            $("#city_2").citySelect({
                                prov: "广东",
                                city: "韶关",
                                nodata: "none"
                            })

                        })

                    </script>

                </td>
            </tr>

            <tr>
                <th>个性签名<br>不超过100字</th>
                <td><textarea class="TEXT" style="width:300px;height:100px;" name="signature"></textarea></td>
            </tr>


            <tr>
                <th></th>
                <td><input type="checkbox" checked="checked" value="1" name="notify"> 有回复或者关注软件的新闻发布时邮件提醒我 </td>
            </tr>

            <tr class="submit">
                <th></th>
                <td><input type="submit" class="BUTTON SUBMIT" value="保存修改"></td>
            </tr>
        </table>

     
        <table class="cmtable" style="display:none;">
            <tbody>
                <tr>
                    <th>联系电话：</th>
                    <td>
                        <span class="textbox">
                            <input type="text" class="TEXT" value="" size="20" name="tel">
                            
                            
                            </span>&nbsp;&nbsp;

                      
                            <input type="checkbox" value="1" name="open_tel">
                            
                            
                             对外公开
</td>
                </tr>
                <tr>
                    <th>邮箱地址：</th>
                    <td>

                        <span class="textbox">
                            <input type="text" class="TEXT" size="40" value="" name="email" id="f_email">
                            
                            </span>&nbsp;&nbsp;
                            <input type="checkbox" value="1" name="open_email"> 对外公开
                            <a onclick="javascript:$('#f_email').val('dict020@126.com');$('#f_msn').focus();" href="javascript:;">
                        使用跟帐号相同Email地址
                            </a>
</td>
                </tr>
                <tr>
                    <th>MSN：</th>
                    <td><span class="textbox"><input type="text" value="" class="TEXT" size="40" name="msn" id="f_msn">
                    
                    
                    </span></td>
                </tr>
                <tr>
                    <th>QQ</th>
                    <td><span class="textbox"><input type="text" value="744397463" class="TEXT" size="20" name="qq">
                    
                    
                    </span></td>
                </tr>
                <tr>
                    <th>个人网页：</th>
                    <td><span class="textbox"><input type="text" value="" class="TEXT" size="40" name="website">
                    
                    </span></td>
                </tr>
                <tr><th colspan="2"></th></tr>
                <tr class="submit">
                    <th></th>
                    <td>
                        <input type="submit" class="BUTTON SUBMIT" value="保存修改">
                        <input type="reset" class="BUTTON">
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="cmtable" style="display:none;">
            <tr><th>我的职业：</th><td>
    <select name="job" id="resume_industry">
    <option selected="" value="1">程序员 </option>
    <option value="2">高级程序员 </option>
    <option value="3">技术主管 </option>
    <option value="4">项目经理 </option>
    <option value="5">产品经理 </option>
    <option value="6">网页/平面设计</option>
    <option value="7">架构师 </option>
    <option value="8">部门经理 </option>
    <option value="9">QA/测试工程师</option>
    <option value="10">系统管理员 </option>
    <option value="11">数据库管理员 </option>
    <option value="12">售前工程师</option>
    <option value="13">个人站长 </option>
    <option value="14">CTO(技术副总裁)</option>
    <option value="15">人事招聘</option>
    <option value="0">其他</option>
</select> </td></tr>

            <tr><th>目前状态：</th><td> <div class="FormSection">
   
    <input type="radio" checked="" value="1" id="job_status_1" name="job_status"><label for="job_status_1">在职</label>
    <input type="radio" value="2" id="job_status_2" name="job_status"><label for="job_status_2">学生</label>
    <input type="radio" value="3" id="job_status_3" name="job_status"><label for="job_status_3">找工作中...</label>
</div></td></tr>

            <tr>
                <th>工作单位：</th>
                <td>
                    <span class="textbox">

                        <input type="text" size="30" value="" name="company">

                        </span>
</td>
            </tr>



            <tr class="submit">
                <th></th>
                <td><input type="submit" class="BUTTON SUBMIT" value="保存修改"></td>
            </tr>
        </table>

    </div>
    <div class="clear" style="height:15px;"></div>


</div>


<script>
    //#selectedcnheader        
    var topspan = $(".cmheadertop span");

    var cmtable = $(".cmtable");
    $(".cmheadertop span").click(function () {

        topspan.attr("id","")
        $(this).attr("id", "selectedcnheader")
        var index = topspan.index(this);
        cmtable.hide();
        $(cmtable[index]).show();
    })

</script>